{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<h1 class="h3 my-5 font-weight-normal">Se connecter</h1>
	<div class="row">
		<div class="col-md-7">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="mb-3">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>
				<div class="mb-3">
					<label for="inputPassword" class="form-label">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="text-center">
					<button class="btn btn-primary" type="submit">
						✅ Valider
					</button>
				</div>
			</form>
		</div>
		<div class="col-md-4 offset-md-1">
			<h3>Vous n'avez pas de pseudo sur demoblog.com ?</h3>
			<p>C'est rapide, gratuit, et vous permettra de réserver votre pseudo sur les forums, afin que personne d'autre que vous ne puisse l'utiliser...</p>
			<a href="{{ path('app_register') }}" class="btn btn-primary">Créer un compte</a>
		</div>
	</div>
{% endblock %}
