{% extends "base.html.twig" %}

{% block body %}

	<div class="text-center my-5">
		<h1 class="mt-5">Gestion des articles</h1>
		<div class="alert alert-info">⚙️ Vous trouverez ci-dessous le tableau contenant l'ensemble des articles du blog</div>

		{% for message in app.flashes('success') %}
			<div class="col-md-5 mx-auto alert alert-success text-center">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<table class="table table-bordered table-striped table-hover text-center">
		<thead class="table-dark">
			<tr>
				{% for colonne in colonnes %}
					{% if colonne != 'id' %}
						<th>{{ colonne }}</th>
					{% endif %}
				{% endfor %}
				<th>⚙️</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.title }}</td>
					<td>{{ article.content | slice(0, 100) | raw }}...</td>
					<td><img src="{{ asset('images/articles/' ~ article.image) }}" alt="image de l'article" class="img-article-admin"></td>
					<td>{{ article.createdAt | date('d/m/Y à H:i:s' ) }}</td>
					<td>{{ article.updatedAt | date('d/m/Y à H:i:s' ) }}</td>
					<td>
						<a href="{{ path('blog_show', {"id": article.id }) }}" class="btn btn-info">
							<i class="fa-solid fa-eye white"></i>
						</a>
						<a href="{{ path('admin_edit_article', {"id": article.id }) }}" class="btn btn-warning my-1">
							<i class="fa-solid fa-pen-to-square white"></i>
						</a>
						<a href="{{ path('admin_delete_article', {"id": article.id }) }}" class="btn btn-danger">
							<i class="fa-solid fa-trash-can white"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="text-center">
		<a href="{{ path('admin_new_article') }}" class="btn btn-primary my-5">Créer un Article</a>
	</div>
{% endblock %}
