{% extends 'base.html.twig' %}

{% block body %}

	<div class="container text-center mt-5">
		<h1>{{ article.title }}
			{{ article.id }}</h1>
		<div class="card mt-5" style="width: 50rem; margin: 0 auto;">
			<div class="card-header">
				<table class="table table-bordered">
					<tbody>
						<tr style="background: #8900E5; color: white;">
							<th>Date de publication</th>
							<th>Catégorie</th>
						</tr>
						<tr>
							<td>{{ article.createdAt | date('d/m/y') }}</td>
							<td class="badge rounded-pill text-bg-primary">{{ article.category }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<img src="{{ asset('images/articles/' ~ article.image) }}" alt="image de l'article">
			<div class="card-body mt-5">
				<p>{{ article.content | raw }}</p>
			</div>
		</div>
	</div>

	<div class="container my-5">
		<h2>Commentaires</h2>
		{% if app.user %}
			<hr>
			{{ form_start(formComment, {
				attr : {
					novalidate: 'novalidate'
				}
			}) }}
			{{ form_row(formComment.Content, {'attr': {'placeholder': 'Ecrivez un commentaire ici.'}}) }}
			<button type='submit' class='btn btn-primary mt-2'>✅ Poster</button>
			{{ form_end(formComment) }}
		{% else %}
			<div class="alert alert-warning">Vous devez être connecté pour poster un commentaire.</div>
		{% endif %}
		<div class="row">
			{% for comment in article.comments %}
				<div class="col-md-6">
					<div class="container my-4 border">
						<div class="pt-4">
							{{ comment.author }}
							(<small>{{ comment.createdAt | date('d/m/Y à h:i:s') }}</small>)
						</div>
						<hr>
						<div>
							{{ comment.content | raw }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
